<section id="guidle-events-list">
    {foreach $offers as $offer}
        <div class="guidle-event-item">
            <div class="guidle-event-item__image">
                <img src="{$offer.offerDetail.images[0].size[2].url}" />
            </div>
            <div class="guidle-event-item__description">
                <time>{$offer.name}</time>
                <div class="guidle-event-item__link">
                    <a href="{$finalWPPageUrl}{$offer.id}"><h3>{$offer.offerDetail.title}</h3></a>
                </div>
                <div style="font-size: 14px;">{$offer.offerDetail.shortDescription}</div>
            </div>
        </div>
    {/foreach}
</section>